<span class="removeComp" id="R" title="remove component"></span>
<table class="sec-16" width="100%" cellspacing="0" cellpadding="0" style="font-family: Helvetica, Arial,sans-serif; background: #ffffff; padding:0; padding-top:0;box-shadow: 0 0 2px #ececec;" align="center">
                <tbody>
                  <tr>
                    <!-- section wrapper | LINK LIST-->
                    <td style="padding-left:12px; padding-right: 12px; padding-top: 20px;padding-bottom: 20px;border-top:1px solid #d2d2d2;">
                      <table width="100%">
                        <tbody>
                          <tr>
                            <!-- COLUMN 1 -->
                            <td style="padding-left: 12px; padding-right: 12px;vertical-align: top;">
                              <table class="thumb-circle-1">
                                <tbody>

                                  <!-- TITLE -->
                                  <tr>
                                    <td align="left" style="padding-bottom:10px;">
                                      <h2 class="title">
                                        <font face="Helvetica, Arial,sans-serif;" color="#555555">
                                          <span style="color:#d05d68;font-size:22px;font-weight:100;">
                                            <marky-mark ng-model="vm.content16a" ng-model-options="{ debounce: 0 }"></marky-mark>
                                          </span>
                                        </font>
                                      </h2>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td class="thumb-center-ct">
                                      <table>
                                        <tbody>
                                          <!-- LINK 1 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="{{link1Src16a}}" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16aLink1}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 2 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16aLink2}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 3 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16aLink3}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 4 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16aLink4}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>

                            <!-- COLUMN 2 -->
                            <td style="padding-left: 12px; padding-right: 12px;vertical-align: top;">
                              <table class="thumb-circle-1">
                                <tbody>

                                  <!-- TITLE -->
                                  <tr>
                                    <td align="left" style="padding-bottom:10px;">
                                      <h2 class="title">
                                        <font face="Helvetica, Arial,sans-serif;" color="#555555">
                                          <span style="color:#d05d68;font-size:22px;font-weight:100;">
                                            <marky-mark ng-model="vm.content16b" ng-model-options="{ debounce: 0 }"></marky-mark>
                                          </span>
                                        </font>
                                      </h2>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td class="thumb-center-ct">
                                      <table>
                                        <tbody>
                                          <!-- LINK 1 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16bLink1}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 2 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16bLink2}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 3 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16bLink3}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>

                                          <!-- LINK 4 --> 
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <a class="footer-link" href="#" style="text-decoration: none;">
                                                <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                  <span style="font-weight:100; font-size:14px;">
                                                    {{cp16bLink4}}
                                                  </span>
                                                </font>
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>

                            <!-- COLUMN 3 -->
                            <td valign="top" width="40%" style="padding-left: 12px; padding-right: 12px; padding-top: 0;vertical-align: top;">
                              <table class="thumb-circle-1">
                                <tbody>
                                  <tr>
                                    <td align="left" style="padding-bottom:10px;">
                                      <h2 class="title">
                                        <font face="Helvetica, Arial,sans-serif;" color="#555555">
                                          <span style="color:#413e3e;font-size:22px;font-weight:100;">
                                            {{cp16TitleDark}}
                                          </span>
                                        </font>
                                      </h2>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="thumb-center-ct">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <td align="left" style="padding-bottom: 5px;">
                                              <font color="#A3A2A2" face="Helvetica, Arial,sans-serif;">
                                                <span style="font-weight:100; font-size:14px;mso-line-height-rule:exactly; line-height:25px;">
                                                  <marky-mark ng-model="vm.content16c" ng-model-options="{ debounce: 0 }"></marky-mark>
                                                </span>
                                              </font>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>